/* 字體 */
@font-face {
    font-family: 'NotoSansTC';
    src: url('../fonts/NotoSansTC-Regular.otf');
  }

/* 全體的設置 */   
body{
        background-color:#D9AAAE;
	font-family: NotoSansTc;
        font-size:12px;
     }
table{
        margin:10px auto 10px auto;
        background-color: white;
	font-family: NotoSansTc;
	border-collapse: collapse;
      }

th{
	font-size:26px;
	font-family:serif,Arial;
}
td {
        padding: 10px;
        border-top: 1px solid  black;
}
p{font-size:18px;
}
li{font-size:18px;
}	
h1 {
  font-size: 40px;
  text-align:center
}
h2 {
  font-size: 30px;
  text-align:center
}
/* 個別的 */

ul.pageList{
	text-align:center;
}
dl.sideList{font-size:18px;
	position:fixed;
}

li.pageList{
	display:inline;
	font-size:26px;
	padding:100px;
}
a{
	color:black;
}

td.foodDescription{
        vertical-align:top;
        width:500px;
        font-size:20px;
}
td.foodPhoto{
	width:300px;
}
td.recipeLeft{
	width:500px;
	font-size:20px;
}
td.recipeRight{
	color:grey;
	width:300px;
	font-size:20px;
}
td.recipeStepRight{
	width:500px;
        font-size:20px;
}
table.JP{
	font-size:15px;
	width:70%;
	text-align:center;
}
div.aboutme{
margin-left:25%;
margin-right:20%;
}
p.aboutme{
font-size:23px;
margin:10px;
line-height:2; 
text-indent: 2em;
}
